/.vs
/.vs/Lumins-and-Solvers
/.vs/Lumins-and-Solvers/v17
.vs/Lumins-and-Solvers/v17/.wsuo
.vs/Lumins-and-Solvers/v17/DocumentLayout.backup.json
.vs/Lumins-and-Solvers/v17/DocumentLayout.json
.vs/slnx.sqlite
